@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FAD9A1;
}
header{
    display: flex;
    padding: 20px 80px;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
/* Nav */
.nav{
    display: flex;
    float: right;
    margin-right: 120px;

}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    display: inline-block;
    color: #434343;
    font-size: 40px;
}
ul li a:hover{
    color: #F2F0EC;

}

/*nav end*/


/* FORM */ 
form{
    padding-top: 80px;
    width: 60%;
    margin: 0 auto; /*ez csak akkor működik ha van width*/
}
input[type=text], select, textarea {

width: 100%;
  padding: 12px;
  border: none;
  background-color: #F2F0EC;
}
    
  /* --- scrap
    width: 60%;
    display: inline-block;
    border: none;
    border-radius: 10px;
*/

div.title{
    width: 200px;
    min-width: 120px;
    background-color: #F2F0EC;
    padding: 20px 40px;
    margin: 0 auto;
}
h1{
    text-transform: uppercase;
    color: #434343;
    text-align: center;
}
div.column{

  margin-top: 10px;
}

div.bigcolumn {
    margin-top: 10px;

}
input[type=submit] {
    background-color: #F2F0EC;
    color: #434343;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=submit]:hover {
    color: #F2F0EC;
    background-color: #434343;
    transition: 0.5s;
}


footer{
    margin-top: 35px;
    background-color: #F2F0EC;
    padding: 8px;
}

footer p{
    font-size: 18px;
    text-align: center;
    margin: 0;
    
}

@media screen and (max-width: 600px) {
    ul li a{
        font-size: 30px;
    }
    header{
        padding: 10px 20px;
    }
}