@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #FAD9A1;
    color: #434343;
}
header{
    display: flex;
  
    margin: 20px 80px;

}
.container{
  display: block;
  max-width: 1120px;
  margin: 50px auto 0 auto; /*adding 50 px here because it will be minus in .container title*/
  background-image: url(../img/checkered\ paper3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
}
/* https://www.w3schools.com/cssref/pr_background-position.asp */

.container .title{
  background-color: #F2F0EC;
  padding: 40px 80px;
  display: inline-block;
  margin: -50px auto 0 auto;
}
/* margin: x y*/

.container h1{
  font-size: 56px;
}

.container .links{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 80px;
}

.container .links .link{
  display: block;
  padding: 20px 25px;
  background-color: #F2F0EC;
  font-size: 36px;
  color: #434343;
  text-decoration: none;
  height: fit-content;
  margin-bottom: 32px;
}
 /*source for dropdown:

https://www.w3schools.com/css/css_dropdowns.asp
 */

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  left: 0;
  background-color: #F2F0EC;
  width: 100%;
  z-index: 1;
}

.dropdown-content .link{
  font-size: 24px;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #434343;

}

.dropdown:hover .dropdown-content{
  display: block;
}

.contact{
  text-align: center;
  margin-bottom: 100px;
  background-color: #F2F0EC;
  display: inline-block;
  padding: 20px 25px;
}

.contact a{
  text-decoration: none;
  color: #434343;
  font-size: 36px
}

footer{
  margin-top: 35px;
  background-color: #F2F0EC;
  padding: 8px;
}

footer p{
  font-size: 18px;
}



/* DROPDOWN SCRAP - WAS GOING TO USE AND ALTER THIS
.dropbtn {
    background-color: #F2F0EC;
    color: #434343;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  .dropdown {
    margin-left: 50px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  */
