@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color: #434343;
}
body{
    margin: 0;
    background-color: #FAD9A1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.nav{
    display: flex;
    float: right;
    margin-right: 30px;

}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    display: inline-block;
    color: #434343;
    font-size: 50px;

}
ul li a:hover{
    color: #F2F0EC;
}

.container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    margin: 0 70px;
    /*justify-content: space-between;*/

}
.polaroid{
    background-color: #F2F0EC;
    padding: 30px 30px 40px 30px;
    height: min-content;
    flex: 1 1 300px;
}
.polaroid img{
    width: 100%;
   /* max-width: 390px; */
    
}
.polaroid p{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 40px;
    text-align: center;

}
.introduction{
    background-image: url(../img/checkered\ paper\ small.png);
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1 1 400px; /*min width helyett --- using this instead of min-width */
    min-height: 550px;
    padding: 30px;
    margin-top: 100px;
}
.introduction h2{
    font-size: 64px;
    margin-bottom: 70px;

}
.introduction p{
    font-size: 21px;
    font-weight: 600;
    line-height: 64px;
    margin: -5px;
}

.introduction .cta{
    font-size: 34px;
    line-height: 62px;
    margin-top: 62px;
}
.aboutme{
    background-color: #F2F0EC;
    padding: 25px;
    height: min-content;
    position: relative; /*azért hogy a child hozzá képest mozogjon - I put this here so the childe of this attribute will move - see under*/
    flex: 1 1 300px;  /* flex basis, flex grow, flex shrink*/
    font-size: 21px;
}
.sun{
    max-width: 100px;
    position: absolute; /*child*/
    top: 10px;
    right: 10px;
}
.linkmywork{
    text-decoration:underline;
    color: #434343;
}
footer{
    margin-top: 35px;
    background-color: #F2F0EC;
    padding: 5px;
}

footer p{
    font-size: 18px;
    margin: 0;
    text-align: center;
}
@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
        margin: 0 20px;
    }
    header{
        padding: 10px 20px;
    }

}