*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    background-color: #FAD9A1;
}
.nav{
    display: flex;
    float: right;
    margin-right: 30px;

}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    display: inline-block;
    color: #434343;
    font-size: 50px;

}
div.relative{
    margin-top: 70px;
    position: relative;
    text-align: center;
}
div.absolute{
    position: absolute;
    top: px;
    left: 50px;
}